<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/QLSachb3M4/src/bai3/SachManager.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="bai3.SachManager"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="QLSachb3M4"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="QLSachb3M4"/>
</launchConfiguration>
